
CIS 666 AI/Assignment_2/tag.csv
CIS 666 AI/Assignment_2/rating.csv
CIS 666 AI/Assignment_2/movie.csv
CIS 666 AI/Assignment_2/DATA/tag.csv
CIS 666 AI/Assignment_2/DATA/rating.csv
CIS 666 AI/Assignment_2/DATA/movie.csv
AI/data/cifar-10-python.tar.gz
AI/data/cifar-10-batches-py/test_batch
AI/data/cifar-10-batches-py/readme.html
AI/data/cifar-10-batches-py/data_batch_5
AI/data/cifar-10-batches-py/data_batch_4
AI/data/cifar-10-batches-py/data_batch_3
AI/data/cifar-10-batches-py/data_batch_2
AI/data/cifar-10-batches-py/data_batch_1
AI/data/cifar-10-batches-py/batches.meta
